body {
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #787878;
	-webkit-font-smoothing: antialiased;

	background-color: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	list-style: none;
}

h1, h2, h3, h4 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

ul {
	padding: 0;
	margin: 0;
}

/* Container
=======================*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header
=======================*/
.header {
	width: 100%;
  height: 100px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
} 

.header.fixed {
	height: auto;

	position: fixed;

	background-color: #e8e8ea;
}

.header.fixed .header__inner {
	padding: 15px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}

/* Navigation
=======================*/
.nav {
	display: flex;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 50px;
	color: #191919;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	color: #10c9c3;
}

/* Intro
=======================*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 670px;
	padding-top: 100px;

	background-image: url("../img/intro-bg.jpg");
	background-color: #e8e8ea;
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}

.intro__inner {
	float: right;

	width: 100%;
	max-width: 585px;
	margin: 0 auto;

	text-align: left;
}

.intro__title {
	margin: 0 0 30px;

	font-size: 38px;
	color: #000;
	font-weight: 700;
}

.intro__subtitle {
	margin: 0 0 30px;

	font-size: 18px;
	color: #787878;
	line-height: 1.5;
	font-weight: 600;
}

/* Button
=======================*/
.btn {
	display: inline-block;
	vertical-align: top;
  padding: 20px 30px;

  border: 0;
  cursor: pointer;

	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s linear;
}

.btn--cyan {
	background-color: #10c9c3;
}

.btn--cyan:hover {
	background-color: #15b0ab;
}

.btn--long {
  min-width: 180px;
}

/* About Us
=======================*/
.about {
	padding: 80px 0;

	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

	text-align: center;
}

.about__title {
	margin-bottom: 30px;

	font-size: 30px;
	color: #191919;
	font-weight: 700;
}

.about__subtitle {
	margin-bottom: 50px;

	font-size: 16px;
	color: #787878;
	font-weight: 500;

	white-space: pre-line;
}

/* Counter
=======================*/
.count {
	padding: 80px 0;
	background-color: #10c9c3;
}

.count__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: center;
}

.count__list li:not(:last-child) {
	margin-right: 25px;
}

.count__item {
	width: 23%;
	text-align: left;
}

.count__icon {
	float: left;
	margin: auto 20px auto 0;
}

.count__title {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

.count__subtitle {
	font-size: 12px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
}

/* Works
=======================*/
.works {
	background-color: #f5f5f5;
}

.works__inner {
	display: flex;
	flex-wrap: wrap;
}

.works__item {
	width: 25%;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.works__item:hover .works__content {
	opacity: 1;

	transition: opacity .1s linear;
}

.works__photo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	transform: translate3d(-50%, -50%, 0);
}

.works__content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

  background-color: rgba(20, 20, 20, .85);
  opacity: 0;

  top: 0;
  left: 0;
	position: absolute;
	z-index: 2;
}

.works__all {
	display: flex;
	justify-content: center;
	padding: 40px;

	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.works__all__link {
	color: #8e8e8e;
	text-decoration: none;
	transition: color .1s linear;
}

.works__all__link:hover {
	color: #2d2d2d;
}

/* Video
=======================*/
.video {
	padding: 80px 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.video__title {
	margin-bottom: 30px;

	font-size: 30px;
  color: #191919;
  font-weight: 700;
}


.video__subtitle {
	margin-bottom: 30px;

	font-size: 16px;
	color: #787878;
	white-space: pre-line;
}

.video__youtube {
	width: 100%;
	height: 564px;
	border: none;
}

/* Features
=======================*/
.features {
	padding: 80px 0;
	background-color: #f5f5f5;
}

.features__list {	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.features__item {
	width: 25%;
	margin: 20px 0;
	padding: 0 20px;

	text-align: center;
}

.features__icon {
	margin-bottom: 20px;
}

.features__title {
	margin-bottom: 10px;

	font-size: 12px;
	color: #191919;
	font-weight: 700;

	text-transform: uppercase;
}

.features__subtitle {
	font-size: 14px;
	color: #787878;
	font-weight: 400;

	line-height: 1.5;
}

/* Reviews
=======================*/
.reviews {
 padding: 100px 0;
 background-color: #10c9c3;
}

.reviews__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.reviews__item {
	text-align: center;
}

.reviews__text {
	margin-bottom: 30px;

	font-size: 24px;
	color: #fff;
	font-weight: 500;

	line-height: 1.5;
	white-space: pre-line;
}

.reviews__author {
	font-size: 12px;
	color: #fff;

	text-transform: uppercase;
}

/* Clients
=======================*/
.clients {
	padding: 80px 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.clients__item {
	margin: 20px 50px;
}

/* Form
=======================*/
.form {
	padding: 80px 0;
	background-color: #f5f5f5;

	text-align: center;
}

.form__title {
	margin-bottom: 30px;

	font-size: 30px;
	color: #1d1d1d;
	font-weight: 700;
}

.form__subtitle {
	margin-bottom: 30px;

	font-size: 16px;
	color: #787878;

	white-space: pre-line;
}

.form__list {
	text-align: center;
}

.form__list textarea {
	margin-bottom: 20px;
}

.form__area {
	height: 50px;
	width: 100%;
	max-width: 320px;
	padding: 15px 20px;

	border: 0;
	outline: 0;
	resize: none;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #787878;
	font-weight: 400;
	text-decoration: none;

	text-align: left;
}

.form__area--contact_name {
	margin-right: 20px;
}

.form__area--title_name {
	width: 100%;
	max-width: 665px;
}

.form__area--comment_name {
	width: 100%;
	max-width: 665px;
	height: 170px;
}

/* Footer
=======================*/
.footer {
	padding: 80px 0;
	background-color: #141414;
}

.footer__inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer__author, .footer__contacts {
	margin-right: 60px;
}

.footer__block {
	display: flex;
	flex-direction: column;
}

.footer__block--content {
	flex-direction: row;
}

.footer__list {
	margin-right: 30px;
}

.footer__list--last {
	margin-right: 50px;
}

.footer__list--social {
	margin-right: 0px;
}

.footer__item {
	display: flex;
	flex-direction: column;
}

.footer__item:not(:last-child) {
	margin-bottom: 5px;
}

.footer__title {
	margin-bottom: 20px;

	font-size: 18px;
	color: #fff;
	font-weight: 700;
}

.footer__text {
	font-size: 16px;
	color: #bcbcbc;
	font-weight: 500;

	white-space: pre-line;
}

.footer__link {
	font-size: 16px;
	color: #bcbcbc;
	font-weight: 500;

	text-decoration: none;
	transition: color .1s linear;
}

.footer__link:hover {
	color: #10c9c3;
}

/* Burger
=======================*/
.burger {
	display: none;
}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;

	background-color: #191919;

	font-size: 0;
	color: transparent;

	position: relative;
}

.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;

	background-color: #191919;

	position: absolute;
	left: 0;
	z-index: 1;
}

.burger__item:before {
	top: -8px;
}

.burger__item:after {
	bottom: -8px;
}

/* Media 
=======================*/
@media (max-width: 1366px) {

	/* Intro
	=======================*/
	.intro {
		background-size: cover;
	}

	/* Works
	=======================*/
	.works__item {
		width: 50%;
	}
}


@media (max-width: 1060px) {

	/* Intro
	=======================*/
	.intro {
		height: auto;
		background-image: url("../img/intro-bg-mobile.jpg");

		padding-top: 130px;
		padding-bottom: 80px;
	}

	.intro__inner {
		float: none;
		text-align: center;

		margin: 0 auto;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {
		font-size: 16px;
	}

	/* Count
	=======================*/
	.count__item {
		width: 36%;
		padding-left: 20px;
		margin-bottom: 20px;
	}

	.count__item--mobile {
		margin-bottom: 0px;
	}

	.count__list li:not(:last-child) {
		margin-right: 0px;
	}

 	/* Features
	=======================*/
	.features__item {
		width: 50%;
	}

 	/* Footer
	=======================*/
	.footer__inner {
		flex-direction: column;

	  text-align: center;
	  align-items: center;
	}

	.footer__author, .footer__contacts {
		margin-right: 0px;

		margin-bottom: 20px;
		padding-bottom: 20px;

		border-bottom: 1.5px solid #2e2e2e;
	}

	.footer__list--last {
		margin-right: 30px;
	}

	.footer__title {
		font-size: 24px;
	}
}



@media (max-width: 768px) {

	/* Navigation
	=======================*/
	.nav {
		display: none;
	}

	.burger {
		display: block;
	}

	/* Intro
	=======================*/
	.intro {
		padding-bottom: 50px;
	}

	/* About
	=======================*/
	.about {
		padding: 50px 0;
	}

	.about__subtitle {
		white-space: normal;
	}

	/* Count
	=======================*/
	.count {
		padding: 50px 0;
	}

	.count__item {
		width: 47%;
	}

	/* Video
	=======================*/
	.video {
		padding: 50px 0;
	}

	.video__subtitle {
		white-space: normal;
	}

	.video__youtube {
		height: 364px;
	}

	/* Features
	=======================*/
	.features {
		padding: 50px 0;
	}

	/* Reviews
	=======================*/
	.reviews {
		padding: 80px 0;
	}

	.reviews__text {
		font-size: 20px;

		white-space: normal;
	}

	/* Clients
	=======================*/
	.clients {
		padding: 50px 0;
	}

	/* Form
	=======================*/
  .form {
  	padding: 50px 0;
  }

	.form__area {
		max-width: 578px;
	}

	.form__area--contact_name {
		margin-right: 0;
	}

	/* Footer
	=======================*/
	.footer {
		padding: 50px 0;
	}
}



@media (max-width: 578px) {

	/* Intro
	=======================*/
	.intro__title {
		font-size: 24px;
	}

	.intro__subtitle {
		font-size: 14px;
	}

	/* About
	=======================*/
	.about__title {
		font-size:	24px;
	}

	.about__subtitle {
		white-space: normal;
	}

	/* Count
	=======================*/
	.count__item {
		width: 100%;
	}

	.count__item:not(:last-child) {
		margin-bottom: 30px;
	}

	.count__item--mobile:not(:last-child) {
		margin-bottom: 30px;
	}

	/* Works
	=======================*/
	.works__item {
		width: 100%;
	}

	.works__all {
		padding: 30px;
	}

	/* Video
	=======================*/
	.video__title {
		font-size: 24px;
	}

	/* Features
	=======================*/
	.features__item {
		width: 100%;
		padding: 0;
	}

	/* Form
	=======================*/
	.form__title {
		font-size: 24px;
	}

	.form__subtitle {
		white-space: normal;
	}

	/* Footer
	=======================*/
	.footer__contacts {
		margin-bottom: 0;
		padding-bottom: 0;

		border-bottom: none;
	}

	.footer__links {
		display: none;
	}
}